In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests


# Import the API key.
from config import gkey

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("Weather_Database/cities.csv")
city_data_df.head(12)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cockburn Town,TC,21.4612,-71.1419,85.96,70,40,16.11,scattered clouds
1,1,Gat,IL,31.6100,34.7642,75.88,100,16,9.64,few clouds
2,2,Parvatsar,IN,26.8833,74.7667,72.46,93,97,11.39,overcast clouds
3,3,Punta Arenas,CL,-53.1500,-70.9167,50.11,57,40,29.93,scattered clouds
4,4,Saint George,US,37.1041,-113.5841,72.43,34,0,0.00,clear sky
5,5,Toronto,CA,43.7001,-79.4163,48.43,64,40,14.97,scattered clouds
6,6,Toronto,CA,43.7001,-79.4163,48.43,64,40,14.97,scattered clouds
7,7,Mucurapo,TT,10.6667,-61.5333,86.05,79,100,8.34,overcast clouds
8,8,Belle Glade,US,26.6845,-80.6676,81.01,69,84,14.09,broken clouds
9,9,Santiago De Cuba,CU,20.0247,-75.8219,90.37,52,22,5.39,few clouds
10,10,Kidal,ML,18.4411,1.4078,100.62,9,0,13.60,clear sky

In [3]:
# Get the data types
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
dtype: object

In [4]:
#Loca = city_data_df.loc[:,["Lat","Lng"]]

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [7]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [(20.0247,-75.8219),(10.6667,-61.5333),(37.1041,-113.5841)]
# 2. Assign the weights variable to some values.
temperatures = [36,35.4,45]
# an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temps = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

NameError: name 'max_temp' is not defined

In [10]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [144]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? -21
What is the maximum temperature you would like for your trip? 50

In [145]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Toronto,CA,43.7001,-79.4163,48.43,64,40,14.97,scattered clouds
6,6,Toronto,CA,43.7001,-79.4163,48.43,64,40,14.97,scattered clouds

In [146]:
preferred_cities_df.count()

City_ID                2
City                   2
Country                2
Lat                    2
Lng                    2
Max Temp               2
Humidity               2
Cloudiness             2
Wind Speed             2
Current Description    2
dtype: int64

In [147]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

      City Country  Max Temp      Lat      Lng Hotel Name
5  Toronto      CA     48.43  43.7001 -79.4163
6  Toronto      CA     48.43  43.7001 -79.4163

In [148]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [149]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]

In [150]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))